# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Arm Limited

Checks: >
  -*,
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  portability-*,
  readability-braces-around-statements,
  readability-container-size-empty,
  readability-duplicate-include,
  readability-misleading-indentation,
  readability-redundant-control-flow
WarningsAsErrors: ""
HeaderFilterRegex: "^(source|tests|e2e/fixture)/"
FormatStyle: file
