# SPDX-License-Identifier: MIT
# Copyright (c) 2026 Arm Limited

BasedOnStyle: Microsoft
Standard: c++20
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: CaseSensitive
